<!DOCTYPE html>
<html lang="en">
  <head>
    <title data-inertia>Kieran Klaassen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/logo.svg" type="image/svg+xml">
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_stylesheet_tag "application" %>
    <%= vite_typescript_tag "inertia.tsx" %>
    <%= inertia_ssr_head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
